# Copy this file to ~/.wikirc

[en]
baseUrl = https://en.wikipedia.org/w/

[es]
baseUrl = https://es.wikipedia.org/w/

[commons]
baseUrl = https://commons.wikimedia.org/w/

[mywiki]
baseUrl = https://my.private/wiki/
username = me
password = mypassword
